.ui-radiobutton{

    .ui-radiobutton-box	{
        border: solid 1px #dfdfdf;
        position: relative;
        top: -4px;
        left: -2px;

        &:not(.ui-state-disabled):not(.ui-state-active):hover {
            border-color: #c0c0c0;
            background-color: #eeeeee;
            color: #212121; 
        }

        &:not(.ui-state-disabled):not(.ui-state-active):hover a {
            color: #212121; 
        }
        
        &.ui-state-active {
            border: 1px solid $color-primary;
            background: $color-primary;
            color: #FFFFFF; 
        }
        
       &.ui-state-focus {
            @extend .panel-shadow; 
        }
    }
}

.ui-radiobutton-label{
    color: $color-content;
    font-weight: 400;
}