.ui-listbox{
    border: solid 1px #efefef;
    padding: 0;
    width: 100% !important;
    @include border-radius(4px);
    @extend .panel-shadow;

    .ui-listbox-list{
        padding: 0;
    }

    .ui-listbox-item{
        border-bottom: solid 1px #efefef;
        color: $color-content;
        padding: 10px 15px;
        margin: 0;

        &:hover{
            color: $color-primary;
        }

        &.ui-state-highlight:hover,
        &.ui-state-highlight:focus,
        &.ui-state-highlight{
            background: #f5f5f5;
            color: $color-primary;
        }
    }

    .ui-widget-header{
        padding: 10px 15px;
        border-bottom: solid 1px #efefef;       
        margin: 0;

        .ui-inputtext{
            @extend .form-control;
            @extend .input-sm;
            padding-left: 25px;
        }

        .ui-listbox-filter-icon{
            top: 9px !important;
            left: 10px !important;
        }
    }

    .ui-chkbox{
        margin-right: 10px;
     }
}