@import '../../../../assets/scss/css3-mixins';
@import '../../../../assets/scss/variable';

.th-option{
    width: 100px;
    text-align: center;
}

.img-user{
    padding: 5px;
    border: solid 1px #efefef;
    @extend .panel-shadow;
    @include border-radius(4px);
}

.th-avatar{
    width: 75px;
}

.img-avatar{
    width: 40px;
    border-radius: 50%;
    border: solid 1px #efefef;
    position: absolute;
    top: 10px;
    left: 25px;
    @extend .panel-shadow;
}

.label{
    width: 150px;
    color: $color-title;
    font-weight: 500;
}

.btn-close{
    float: right;
    position: relative;
    top: -10px;
}

@media(max-width:767px){
    .img-avatar{
        position: relative;
        top: 0;
        left: 0;
    }
}