<!-- Start Sub Header -->
<div class="sub-header">
	<div class="media">
		<i-user class="icon"></i-user> 
		<div class="media-body">
			<h5 class="title">Approval Member</h5>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a routerLink="/main">Home</a></li>
				<li class="breadcrumb-item"><a routerLink="/main/member/">Member</a></li>
				<li class="breadcrumb-item active" aria-current="page">Approval Member</li>
			</ol>
		</div>
	</div>
</div>
<!-- End Sub Header -->
<!-- Start Main Content -->
<div class="main-content">
	
	<!-- Start Toggle Columns -->
	<ng-container *ngIf="!loading">
		<div class="row mb-4">
			<div class="col-sm-4 col-lg-3">
				<input type="text" class="form-control" placeholder="filter by nama">
			</div>
			<div class="col-sm-4 col-lg-3">
				<p-dropdown [options]="companies" styleClass="form-control" [(ngModel)]="selectedCompany"></p-dropdown>
			</div>
			<div class="col-sm-4 col-lg-3">
				<p-dropdown [options]="grades" styleClass="form-control" [(ngModel)]="selectedGrade"></p-dropdown>
			</div>
		</div>
		<div class="row mb-4">
			<div class="col-sm-8 col-lg-3 text-left">
				<p-multiSelect 
					[showHeader]="false"
					[options]="columns" 
					[(ngModel)]="selectedColumns" 
					(onChange)="changeColumn($event)"
					optionLabel="header"
					selectedItemsLabel="{0} selected" 
					defaultLabel="Choose Columns">
				</p-multiSelect>
			</div>
			<div class="col-sm-4 col-lg-6 text-right">
				<button type="button" class="btn btn-primary btn-icon" (click)="openDialogForm()">Tambah Anggota <i-plus class="icon"></i-plus></button>
			</div>
		</div>
	</ng-container>
	<!-- End Toggle Columns -->

	<div *ngIf="loading" class="wrap-loading">
		<p-progressSpinner [style]="{width: '30px', height: '30px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
	</div>

	<!-- Start Card -->
	<div *ngIf="!loading" class="card">
		<div class="card-body p-0">
			<!-- Start Table -->
			<p-table #dt [columns]="selectedColumns" [value]="data" [paginator]="true" [rows]="10" [responsive]="true">
				<!-- Start Header -->
				<ng-template pTemplate="header" let-columns>
						<tr>
							<th *ngFor="let col of columns">
								{{col.header}}
							</th>
							<th class="text-right">
								Options
							</th>
						</tr>
					</ng-template>
				<!-- End Header -->
				<!-- Start Body -->
				<ng-template pTemplate="body" let-rowData let-columns="columns">
					<tr>
						<td *ngFor="let col of columns">
							{{rowData[col.field]}}
						</td>
						<td class="text-right">
							<button type="button" class="btn-circle btn-primary btn-sm" (click)="selectItem(rowData)">
								<i-settings class="icon"></i-settings>
							</button>
						</td>
					</tr>
				</ng-template>
				<!-- End Body -->
			</p-table>
			<!-- End Table -->
		</div>
	</div>
	<!-- End Card -->
</div>
<!-- End Main Content -->

<!-- Start Dialog Modal -->
<p-dialog [(visible)]="display" header="Approval Member" [modal]="true" [width]="500">
	<div *ngIf="selectedItem != null" class="content">
		<div class="row">
			<div class="col-sm-4"><img [src]="selectedItem.personal_photo" class="img-user" style="width:100%"/></div>
			<div class="col-sm-8"><img [src]="selectedItem.personal_identity_path" class="img-user" style="width:100%" /></div>
		</div>
		<table class="table mt-4 border-bottom">
			<tr>
				<td class="label">Name</td>
				<td>{{selectedItem.name}}</td>
			</tr>
			<tr>
				<td class="label">Email</td>
				<td>{{selectedItem.email}}</td>
			</tr>
			<tr>
				<td class="label">Id Register</td>
				<td>{{selectedItem.id_register_member_flow}}</td>
			</tr>
			<tr>
				<td class="label">Id Role</td>
				<td>{{selectedItem.id_role_master}}</td>
			</tr>
			<tr>
				<td class="label">User</td>
				<td>{{selectedItem.id_user}}</td>
			</tr>
			<tr>
				<td class="label">Workflow Status</td>
				<td>{{selectedItem.id_workflow_status}}</td>
			</tr>
			<tr>
				<td class="label">Status Code</td>
				<td>{{selectedItem.set_workflow_status_code}}</td>
			</tr>
			<tr>
				<td class="label">Level</td>
				<td>{{selectedItem.level}}</td>
			</tr>
			<tr>
				<td class="label">NPWP</td>
				<td>{{selectedItem.npwp}}</td>
			</tr>
			<tr>
				<td class="label">Phone Number</td>
				<td>{{selectedItem.phone_number}}</td>
			</tr>
		</table>
	</div>
	<p-footer>
		<button class="btn btn-secondary" (click)="display = false">Close</button>
	</p-footer>
</p-dialog>
<!-- End Dialog Modal -->