<!-- Start Sub Header -->
<div class="sub-header">
	<div class="media">
		<i-user class="icon"></i-user> 
		<div class="media-body">
			<h5 class="title">Anggota</h5>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a routerLink="/main">Home</a></li>
				<li class="breadcrumb-item"><a routerLink="/main/member/">Anggota</a></li>
			</ol>
		</div>
	</div>
</div>
<!-- End Sub Header -->
<!-- Start Main Content -->
<div class="main-content">

	<!-- Start Toggle Columns -->
	<div class="row mb-4">
		<div class="col-sm-4 col-lg-3 text-left">
			<p-multiSelect 
				[showHeader]="false"
				[options]="columns" 
				[(ngModel)]="selectedColumns" 
				(onChange)="changeColumn($event)"
				optionLabel="header"
				selectedItemsLabel="{0} selected" 
				defaultLabel="Choose Columns">
			</p-multiSelect>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 col-lg-3 mb-3">
			<input type="text" class="form-control" (input)="onSearchName($event.target.value)" placeholder="filter by nama">
		</div>
		<div class="col-sm-4 col-lg-3 mb-3">
			<p-dropdown [options]="companies" styleClass="form-control" (onChange)="changeCompany($event)"></p-dropdown>
		</div>
		<div class="col-sm-4 col-lg-3 mb-3">
			<p-dropdown [options]="grades" styleClass="form-control" (onChange)="changeGrade($event)"></p-dropdown>
		</div>
		<div class="col-sm-4 col-lg-3 mb-3">
			<input type="text" class="form-control" (input)="onSearchNik($event.target.value)" placeholder="filter by NIK">
		</div>
		<div class="col-sm-4 col-lg-3 mb-3">
			<p-calendar [(ngModel)]="date1" dateFormat="yy-mm-dd" selectionMode="range" (onSelect)="onSelectTglMasuk($event)" placeholder="filter by Tanggal pengajuan start"></p-calendar>
		</div>
		<div class="col-sm-4 col-lg-3 mb-3">
			<p-calendar [(ngModel)]="date2" dateFormat="yy-mm-dd" selectionMode="range" (onSelect)="onSelectTglPengajuan($event)" placeholder="filter by Tanggal pengjuan To"></p-calendar>
		</div>
	</div>
	<!-- End Toggle Columns -->

	<!-- Start Card -->
	<div class="card">
		<div class="card-body p-0">
			<!-- Start Table -->
			<p-table 
				[columns]="selectedColumns" 
				[value]="data" 
				[paginator]="false" 
				[rows]="10" 
				[responsive]="true"
				[lazy]="true" 
				(onLazyLoad)="fetchUser($event)" 
				[loading]="loading">
				<!-- Start Header -->
				<ng-template pTemplate="header" let-columns>
					<tr>
						<ng-container *ngFor="let col of columns">
							<th *ngIf="col.field == 'number'" style="width:75px;">{{col.header}}</th>
							<th *ngIf="col.field != 'number'">{{col.header}}</th>
						</ng-container>
						<th class="text-right">
							Options
						</th>
					</tr>
				</ng-template>
				<!-- End Header -->
				<ng-template pTemplate="body" let-rowData let-columns="columns">
					<tr>
						<td *ngFor="let col of columns">
							{{rowData[col.field]}}
						</td>
						<td class="text-right">
							<button type="button" class="btn-circle btn-primary btn-sm" (click)="selectItem(rowData)">
								<i-settings class="icon"></i-settings>
							</button>
						</td>
					</tr>
				</ng-template>
				<!-- End Body -->
			</p-table>
			<!-- End Table -->
			<p-paginator [rows]="pageLength" [totalRecords]="totalCount" pageLinkSize="3" (onPageChange)="paginate($event)"></p-paginator>
		</div>
	</div>
	<!-- End Card -->
</div>
<!-- End Main Content -->

<!-- Start Dialog Modal -->
<p-dialog *ngIf="selectedItem != null" [(visible)]="display" header="Detail Member" [modal]="true" [width]="widthDisplay">
	<ng-container *ngIf="!loading">
		<div *ngIf="isViewDocument" class="dialog-content">
			<img [src]="selectedDocument.path" class="w-100" alt="" />
		</div>
		<p-tabView *ngIf="!isViewDocument" styleClass="tab-nav-tabs" (onChange)="tabChange()">
			<!-- Start Profile -->
			<p-tabPanel header="Profile">
				<div class="mt-4">
					<div class="dialog-content pt-1">
						<img [src]="dataProfile.profile.personal_photo" class="img-user" />
						<table class="mt-4 table table-striped mb-3">
							<tr>
								<td class="label">No Anggota</td>
								<td>{{dataProfile.profile.id_user}}</td>
							</tr>
							<tr>
								<td class="label">Nama</td>
								<td>{{dataProfile.profile.name}}</td>
							</tr>
							<tr>
								<td class="label">Tanggal Lahir</td>
								<td>{{dataProfile.profile.birth_date}}</td>
							</tr>
							<tr>
								<td class="label">Tempat Lahir</td>
								<td>{{dataProfile.profile.birth_place}}</td>
							</tr>
							<tr>
								<td class="label">Agama</td>
								<td>{{dataProfile.profile.name_religion}}</td>
							</tr>
							<tr>
								<td class="label">Jenis Kelamin</td>
								<td>{{dataProfile.profile.id_gender}}</td>
							</tr>      
							<tr>
								<td class="label">No KTP</td>
								<td>{{dataProfile.profile.identity_id}}</td>
							</tr>            
							<tr>
								<td class="label">No Handphone</td>
								<td>{{dataProfile.profile.phone_number}}</td>
							</tr>         
							<tr>
								<td class="label">Status Perkawinan</td>
								<td>{{dataProfile.profile.marriage_status_name}}</td>
							</tr>    
							<tr>
								<td class="label">Status Tempat Tinggal</td>
								<td>{{dataProfile.profile.domicili_name}}</td>
							</tr>      
							<tr>
								<td class="label">NPWP No</td>
								<td>{{dataProfile.profile.NPWP_No}}</td>
							</tr>      
							<tr>
								<td class="label">Email</td>
								<td>{{dataProfile.profile.email}}</td>
							</tr>     
							<tr>
								<td class="label">Nama Ibu Kandung</td>
								<td>{{dataProfile.profile.mother_name}}</td>
							</tr>                                                                                                                          
						</table>
						<div class="text-right">
							<button class="btn btn-danger">Terminate {{dataProfile.profile.name}}</button>
						</div>
					</div>
				</div>
			</p-tabPanel>
			<!-- End Profile -->
			<!-- Start Company -->
			<p-tabPanel header="Company">
				<div class="dialog-content">
					<div class="row">
						<div class="col-md-6">
							<table class="table table-striped mb-0">
								<tr>
									<td class="label">Tanggal Mulai Bekerja</td>
									<td>{{dataProfile.company.employee_starting_date}}</td>
								</tr>
								<tr>
									<td class="label">ID Karyawan</td>
									<td>{{dataProfile.company.id_employee}}</td>
								</tr>
								<tr>
									<td class="label">Golongan</td>
									<td>{{dataProfile.company.grade_name}}</td>
								</tr>
								<tr>
									<td class="label">ID User Company</td>
									<td>{{dataProfile.company.id_user_company}}</td>
								</tr>
								<tr>
									<td class="label">ID User Profile</td>
									<td>{{dataProfile.company.id_user_profile}}</td>
								</tr>
								<tr>
									<td class="label">ID Workflow Status</td>
									<td>{{dataProfile.company.id_workflow_status}}</td>
								</tr>
								<tr>
									<td class="label">Posisi</td>
									<td>{{dataProfile.company.position}}</td>
								</tr>
								<tr>
									<td class="label">Termination Date</td>
									<td>{{dataProfile.company.termination_date}}</td>
								</tr>
							</table>
						</div>
						<div class="col-md-6">
							<form #mutationForm="ngForm">
								<div class="mb-2">
									<label>ID Karyawan</label>
									<input 
										type="text" 
										class="form-control" 
										name="idEmployee" 
										[(ngModel)]="idEmployee" 
										[class.is-invalid]="idEmployeeRef.errors?.required && idEmployeeRef.touched" 
										#idEmployeeRef="ngModel"
										placeholder="Masukan ID Karyawan" 
										required/>
								</div>
								<div class="mb-2">
									<label>Divisi</label>
									<input 
										type="text" 
										class="form-control" 
										name="divisi" 
										[(ngModel)]="division" 
										[class.is-invalid]="divisionRef.errors?.required && divisionRef.touched" 
										#divisionRef="ngModel"
										placeholder="Divisi Karyawan" 
										required/>
								</div>
								<div class="mb-2">
									<label>Posisi</label>
									<input 
										type="text" 
										class="form-control" 
										name="position" 
										[(ngModel)]="position" 
										[class.is-invalid]="positionRef.errors?.required && positionRef.touched" 
										#positionRef="ngModel"
										placeholder="Posisi Karyawan" 
										required/>
								</div>
								<div class="mb-2">
									<label>Perusahaan</label>
									<p-dropdown [options]="companies2" name="company" styleClass="form-control" [(ngModel)]="selectedCompany2" (onChange)="changeCompany2($event)" [required]="true"></p-dropdown>
								</div>
								<div class="mb-2">
									<label>Unggah foto perusahaan</label>
									<img *ngIf="imgEmployee" [src]="imgEmployee" class="img-user mt-2 mb-2" />
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text file pt-1">
												<i-upload class="icon"></i-upload> 
											</span>
										</div>
										<div class="custom-file">
											<input type="file" class="custom-file-input" name="foto" (change)="handleInputChange($event)" id="uploadcompany" required>
											<label class="custom-file-label" for="uploadcompany">Unggah foto perusahaan</label>
										</div>
									</div>
								</div>
								<div class="mt-4">
									<button class="btn btn-primary" [class.btn-icon]="!isSubmitMutation" [disabled]="isSubmitMutation || mutationForm.invalid || imgEmployee == null" (click)="createMutation()">
										<span *ngIf="!isSubmitMutation">Buat mutasi karyawan <i-user class="icon"></i-user></span>
										<span *ngIf="isSubmitMutation"><i class="fas fa-spin fa-spinner"></i></span>
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</p-tabPanel>
			<!-- End Company -->
			<!-- Start Bank -->
			<p-tabPanel header="Bank">
				<div class="dialog-content pt-1">
					<table class="mt-4 table table-striped mb-0">
						<tr>
							<td class="label">Bank</td>
							<td>{{dataProfile.bank.name_bank}}</td>
						</tr>
						<tr>
							<td class="label">No Rekening</td>
							<td>{{dataProfile.bank.account_number_bank}}</td>
						</tr>
						<tr>
							<td class="label">Nama Rekening</td>
							<td style="word-break: break-all;">{{dataProfile.bank.account_name_bank}}</td>
						</tr>
					</table>
				</div>
			</p-tabPanel>
			<!-- End Bank -->
			<!-- Start Document -->
			<p-tabPanel header="Document"  [selected]="openTabDocument">
				<div class="dialog-content">

					<div class="mb-4">
						<button class="btn btn-inverse btn-primary btn-icon" (click)="addDocument()">
							Tambah Dokumen <i-upload class="icon"></i-upload>
						</button>
					</div>

					<ul class="list-document">
						<li *ngFor="let item of dataProfile.document" [class.active]="selectedDocument == item">
							<div *ngIf="selectedDocument == item" class="mb-3">
								<img [src]="item.path" width="100" alt="" />
							</div>
							<label class="d-inline-block mr-2">Document type :</label> {{item.id_document_type}}<br />
							<label class="d-inline-block mr-2">Workflow status :</label> {{item.id_workflow_status}}<br />
							<label class="d-inline-block mr-2">Created at :</label> {{item.created_at}}<br />
							<label class="d-inline-block mr-2">Updated at :</label> {{item.updated_at}}
							<div class="mt-4" *ngIf="selectedDocument == item">
								<button class="btn btn-primary btn-inverse mr-2" (click)="selectedDocument = null" [disabled]="item.disable">Tutup</button>
								<button class="btn btn-primary btn-inverse mr-2" (click)="viewDocument()" [disabled]="item.disable">Lihat Dockumen</button>
								<button class="btn btn-primary btn-inverse mr-2" [disabled]="item.disable">Ubah</button>
								<button class="btn btn-danger" [disabled]="item.disable" (click)="removeDocument()">
									<span *ngIf="!item.disable">Hapus</span>
									<span *ngIf="item.disable"><i class="fas fa-spin fa-spinner"></i></span>
								</button>
							</div>
							<a  *ngIf="selectedDocument != item" href="javascript:;" class="link" (click)="selectDocument(item)"></a>
						</li>
					</ul>
				</div>
			</p-tabPanel>
			<!-- End Document -->
			<!-- Start Salary -->
			<p-tabPanel header="Salary">
				<div class="dialog-content pt-1">
					<table class="mt-4 table table-striped mb-0">
						<tr>
							<td class="label">Nilai Gaji</td>
							<td>Rp {{dataProfile.salary.amount}}</td>
						</tr>
						<tr>
							<td class="label">Golongan</td>
							<td>{{dataProfile.salary.salary_grade_name}}</td>
						</tr>
						<tr>
							<td class="label">Slip Gaji</td>
							<td>
								<img [src]="dataProfile.salary.salary_photo" alt="" class="w-100"/>
							</td>
						</tr>
					</table>
				</div>
			</p-tabPanel>
			<!-- End Salary -->
			<!-- Start User -->
			<p-tabPanel header="User">
				<div class="dialog-content pt-1">
					<table class="mt-4 table table-striped mb-0">
						<tr>
							<td class="label">Username</td>
							<td>{{dataProfile.user.username}}</td>
						</tr>
						<tr>
							<td class="label">Role</td>
							<td>{{dataProfile.user.role_master_name}}</td>
						</tr>
						<tr>
							<td class="label">Password</td>
							<td style="word-break: break-all;">{{dataProfile.user.password}}</td>
						</tr>
						
					</table>
				</div>
			</p-tabPanel>
			<!-- End User -->
		</p-tabView>
	</ng-container>
	
	<p-footer>
		<button *ngIf="!isViewDocument" class="btn btn-default" (click)="display = false">
			Tutup
		</button>
		<button *ngIf="isViewDocument" class="btn btn-default" (click)="closeViewDocument()">
			Tutup Dokumen
		</button>
	</p-footer>
</p-dialog>
<!-- End Dialog Modal -->

<p-toast></p-toast>