<!-- Start Card -->
<div class="card">
	<div class="card-header">
		<h6 class="mb-0">New York, 22 July</h6>
	</div>
	<div class="card-body">

		<!-- Start Main -->
		<h1 class="main">
			28°
			<i-sun class="icon"></i-sun>
			<small>Partly Sunny</small>
		</h1>
		<!-- End Main -->

		<!-- Start Sub Main -->
		<div class="wrap-submain">
			<div class="row">
				<div class="col-4">
					<h6 class="submain">
						22°/28°
						<small>Temp</small>
					</h6>
				</div>
				<div class="col-4">
					<h6 class="submain">
						61%
						<small>Humidity</small>
					</h6>
				</div>
				<div class="col-4">
					<h6 class="submain">
						18km/h
						<small>Wind</small>
					</h6>
				</div>
			</div>
		</div>
		<!-- End Sub Main -->

		<!-- Start Daily -->
		<div class="row">
			<div class="col-2 text-center">
				<p class="mb-0">WED</p>
				<i-cloud class="icon-daily"></i-cloud>
				<p class="mb-0">28°</p>
			</div>
			<div class="col-2 text-center">
				<p class="mb-0">THU</p>
				<i-cloud-drizzle class="icon-daily"></i-cloud-drizzle>
				<p class="mb-0">24°</p>
			</div>
			<div class="col-2 text-center">
				<p class="mb-0">FRI</p>
				<i-wind class="icon-daily"></i-wind>
				<p class="mb-0">25°</p>
			</div>
			<div class="col-2 text-center">
				<p class="mb-0">SAT</p>
				<i-cloud-rain class="icon-daily"></i-cloud-rain>
				<p class="mb-0">26°</p>
			</div>
			<div class="col-2 text-center">
				<p class="mb-0">SUN</p>
				<i-cloud-snow class="icon-daily"></i-cloud-snow>
				<p class="mb-0">26°</p>
			</div>
			<div class="col-2 text-center">
				<p class="mb-0">MON</p>
				<i-sun class="icon-daily"></i-sun>
				<p class="mb-0">26°</p>
			</div>
			
		</div>
		<!-- ENd Daily -->
		
	</div>
</div>
<!-- End Card -->