@import '../../../../assets/scss/css3-mixins';
@import '../../../../assets/scss/variable';

.th-option{
    width: 100px;
    text-align: center;
}

.th-avatar{
    width: 75px;
}

.img-avatar{
    width: 40px;
    border-radius: 50%;
    border: solid 1px #efefef;
    position: absolute;
    top: 10px;
    left: 25px;
    @extend .panel-shadow;
}

.wrap-photo{
    padding: 15px;
    border: solid 1px #efefef;
    @include border-radius(4px);
    @extend .panel-shadow;

    .link{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}

@media(max-width:767px){
    .img-avatar{
        position: relative;
        top: 0;
        left: 0;
    }
}