<div class="content-error">
    <img src="./assets/img/icon/contruction.png" alt="" class="img-error"/>
    <h5 class="sub-title">ERROR 404</h5>
    <h2>Page not found!</h2>
    <p>
        Ooops... you may have mistyped the address or the page may have moved,<br /> 
        <a href="javascript:;" routerLink="/">Take me back to home page.</a>
    </p>

    <div class="input-group mt-5">
        <input type="text" class="form-control" placeholder="Subscribe now">
        <div class="input-group-prepend">
            <button class="btn btn-primary" type="button"><i-send class="icon-error"></i-send></button>
        </div>
    </div>
</div>