@import '../../../../assets/scss/css3-mixins';
@import '../../../../assets/scss/variable';

.user-info{
    background: #ffffff;
    border: solid 1px #efefef;
    overflow: hidden;
    @extend .panel-shadow;
    @include border-radius(4px);

    &__header{
        height: 100px;
        background-color: #efefef;
        position: relative;
        margin-bottom: 62.5px;

        .img-user{
            position: absolute;
            left: 50%;
            margin-left: -62.5px;
            bottom: -62.5px;
            border: solid 10px #ffffff;
            @extend .panel-shadow;
            @include border-radius(50%);
        }
    }

    &__body{
        padding: 25px;
    }
}

table.table-content{
    width: 100%;

    tr td{
        border-top: dotted 1px #dfdfdf;
        border-bottom: dotted 1px #dfdfdf;
        padding: 15px 5px;
    }
} 

.table-list{
    width: 100%;

    tr td{
        border-top: solid 1px #dfdfdf;
        border-bottom: solid 1px #dfdfdf;
        padding: 15px;
    }

    tr th{
        background-color: #fafafa;
        padding: 15px;
    }
}

.content-summary{
    position: relative;
    border-left: dotted 1px #dfdfdf;
    text-align: center;
    padding: 50px 0;

    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: $color-primary;
        @include opacity(.1);
    }

    hr{
        margin-top: 25px;
        margin-bottom: 25px;
    }
}


// Member

@import '../../../../assets/scss/css3-mixins';
@import '../../../../assets/scss/variable';

.th-option{
    width: 100px;
    text-align: center;
}

.img-user-big{
    padding: 10px;
    border: solid 1px #efefef;
    display: block;
    width: 200px;
    height: 200px;
    object-fit: cover;
    @extend .panel-shadow;
    @include border-radius(4px);
}

.th-avatar{
    width: 75px;
}

.img-avatar{
    width: 40px;
    border-radius: 50%;
    border: solid 1px #efefef;
    position: absolute;
    top: 10px;
    left: 25px;
    @extend .panel-shadow;
}

.label{
    width: 200px;
    color: $color-title;
    font-weight: 500;
}

.btn-close{
    float: right;
    position: relative;
    top: -10px;
}

.wrap-photo{
    border: solid 1px #efefef;
    padding: 10px;
    display: block;
    background: #fff;
    @extend .panel-shadow;
    @include border-radius(4px);

    img{
        width: 100%;
        object-fit: cover;
        max-height: 320px;
    }
}


.dialog-content{
    padding: 30px;
    border-end-end-radius: solid 1px red;
}

.wrap-gallery{
    padding: 30px;
    background-color: #dfdfdf;

    .list-document{
        padding: 0;
        margin: 0;
        list-style: none;
    
        li{
            display: block;
            border: solid 1px #dfdfdf;
            background-color: #fff;
            padding: 15px;
            position: relative;
    
            &:hover{
                background-color: #fff;
                @extend .panel-shadow;
            }
    
            .link{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 3;
            }
    
            img{
                border: solid 1px #dfdfdf;
            }
    
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}

.wrap-gallery-document{
    @extend .wrap-gallery;
    height: calc(100vh - 80px);
}

.icon-btn{
    width: 16px;
    margin-right: 10px;
}

@media(max-width:767px){
    .img-avatar{
        position: relative;
        top: 0;
        left: 0;
    }
}

/deep/
    .ui-tabview.tab-nav-tabs .ui-tabview-nav{
        margin: 30px 0 0 0;
        padding-left: 30px !important;
        padding-right: 30px !important;
    }

