<!-- Start Sub Header -->
<div class="sub-header">
	<div class="media">
		<i-shopping-cart class="icon"></i-shopping-cart> 
		<div class="media-body">
			<h5 class="title">Sync Product</h5>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a routerLink="/main">Home</a></li>
				<li class="breadcrumb-item"><a routerLink="/main/member/">Member</a></li>
				<li class="breadcrumb-item active" aria-current="page">Sync Product</li>
			</ol>
		</div>
	</div>
</div>
<!-- End Sub Header -->
<!-- Start Main Content -->
<div class="main-content pb-1">
	
	<div class="row">
		<div class="col-sm-4 col-xl-3 mb-4">
			<p-dropdown [options]="products" styleClass="form-control" [(ngModel)]="selectedProduct"></p-dropdown>
		</div>
		<div class="col-sm-8 col-xl-9 mb-4 text-right">
			<button type="button" class="btn btn-primary btn-icon mr-1">Sync Product <i-refresh-cw class="icon"></i-refresh-cw></button>
		</div>
	</div>

	<div class="row">

		<div class="col-sm-4 col-xl-3 mb-4">
			<!-- Start Item Product -->
			<div class="card item-product">
				<img src="./assets/img/product/img01.jpg" alt="" />
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<h6 class="mb-0">
							Lutfi Wijanarko
							<small class="d-block mt-1">Tempoyak Udang</small>
						</h6>
					</li>
					<li class="list-group-item">
						<div class="row">
							<div class="col"><strong>Original Price</strong></div>
							<div class="col text-right">Rp 1,700,00</div>
						</div>
						<div class="row mt-2">
							<div class="col"><strong>Sale Price</strong></div>
							<div class="col text-right">Rp 2,200,00</div>
						</div>
					</li>
					<li class="list-group-item">
						<div class="row">
							<div class="col"><strong>Distributor</strong></div>
							<div class="col text-right">
								<a href="javascript:;">www.tokopedia.com</a>
							</div>
						</div>
					</li>
				</ul>
				<button class="btn btn-primary btn-block">Add to party</button>
			</div>
			<!-- End Item Product -->
		</div>
		<div class="col-sm-4 col-xl-3 mb-4">
			<!-- Start Item Product -->
			<div class="card item-product">
				<img src="./assets/img/product/img02.jpg" alt="" />
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<h6 class="mb-0">
							Lutfi Wijanarko
							<small class="d-block mt-1">Tempoyak Udang</small>
						</h6>
					</li>
					<li class="list-group-item">
						<div class="row">
							<div class="col"><strong>Original Price</strong></div>
							<div class="col text-right">Rp 1,700,00</div>
						</div>
						<div class="row mt-2">
							<div class="col"><strong>Sale Price</strong></div>
							<div class="col text-right">Rp 2,200,00</div>
						</div>
					</li>
					<li class="list-group-item">
						<div class="row">
							<div class="col"><strong>Distributor</strong></div>
							<div class="col text-right">
								<a href="javascript:;">www.tokopedia.com</a>
							</div>
						</div>
					</li>
				</ul>
				<button class="btn btn-primary btn-block">Add to party</button>
			</div>
			<!-- End Item Product -->
		</div>
		<div class="col-sm-4 col-xl-3 mb-4">
			<!-- Start Item Product -->
			<div class="card item-product">
				<img src="./assets/img/product/img03.jpg" alt="" />
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<h6 class="mb-0">
							Lutfi Wijanarko
							<small class="d-block mt-1">Tempoyak Udang</small>
						</h6>
					</li>
					<li class="list-group-item">
						<div class="row">
							<div class="col"><strong>Original Price</strong></div>
							<div class="col text-right">Rp 1,700,00</div>
						</div>
						<div class="row mt-2">
							<div class="col"><strong>Sale Price</strong></div>
							<div class="col text-right">Rp 2,200,00</div>
						</div>
					</li>
					<li class="list-group-item">
						<div class="row">
							<div class="col"><strong>Distributor</strong></div>
							<div class="col text-right">
								<a href="javascript:;">www.tokopedia.com</a>
							</div>
						</div>
					</li>
				</ul>
				<button class="btn btn-primary btn-block">Add to party</button>
			</div>
			<!-- End Item Product -->
		</div>
		<div class="col-sm-4 col-xl-3 mb-4">
			<!-- Start Item Product -->
			<div class="card item-product">
				<img src="./assets/img/product/img04.jpg" alt="" />
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<h6 class="mb-0">
							Lutfi Wijanarko
							<small class="d-block mt-1">Tempoyak Udang</small>
						</h6>
					</li>
					<li class="list-group-item">
						<div class="row">
							<div class="col"><strong>Original Price</strong></div>
							<div class="col text-right">Rp 1,700,00</div>
						</div>
						<div class="row mt-2">
							<div class="col"><strong>Sale Price</strong></div>
							<div class="col text-right">Rp 2,200,00</div>
						</div>
					</li>
					<li class="list-group-item">
						<div class="row">
							<div class="col"><strong>Distributor</strong></div>
							<div class="col text-right">
								<a href="javascript:;">www.tokopedia.com</a>
							</div>
						</div>
					</li>
				</ul>
				<button class="btn btn-primary btn-block">Add to party</button>
			</div>
			<!-- End Item Product -->
		</div>
		<div class="col-sm-4 col-xl-3 mb-4">
			<!-- Start Item Product -->
			<div class="card item-product">
				<img src="./assets/img/product/img05.jpg" alt="" />
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<h6 class="mb-0">
							Lutfi Wijanarko
							<small class="d-block mt-1">Tempoyak Udang</small>
						</h6>
					</li>
					<li class="list-group-item">
						<div class="row">
							<div class="col"><strong>Original Price</strong></div>
							<div class="col text-right">Rp 1,700,00</div>
						</div>
						<div class="row mt-2">
							<div class="col"><strong>Sale Price</strong></div>
							<div class="col text-right">Rp 2,200,00</div>
						</div>
					</li>
					<li class="list-group-item">
						<div class="row">
							<div class="col"><strong>Distributor</strong></div>
							<div class="col text-right">
								<a href="javascript:;">www.tokopedia.com</a>
							</div>
						</div>
					</li>
				</ul>
				<button class="btn btn-primary btn-block">Add to party</button>
			</div>
			<!-- End Item Product -->
		</div>
		<div class="col-sm-4 col-xl-3 mb-4">
			<!-- Start Item Product -->
			<div class="card item-product">
				<img src="./assets/img/product/img06.jpg" alt="" />
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<h6 class="mb-0">
							Lutfi Wijanarko
							<small class="d-block mt-1">Tempoyak Udang</small>
						</h6>
					</li>
					<li class="list-group-item">
						<div class="row">
							<div class="col"><strong>Original Price</strong></div>
							<div class="col text-right">Rp 1,700,00</div>
						</div>
						<div class="row mt-2">
							<div class="col"><strong>Sale Price</strong></div>
							<div class="col text-right">Rp 2,200,00</div>
						</div>
					</li>
					<li class="list-group-item">
						<div class="row">
							<div class="col"><strong>Distributor</strong></div>
							<div class="col text-right">
								<a href="javascript:;">www.tokopedia.com</a>
							</div>
						</div>
					</li>
				</ul>
				<button class="btn btn-primary btn-block">Add to party</button>
			</div>
			<!-- End Item Product -->
		</div>
		<div class="col-sm-4 col-xl-3 mb-4">
			<!-- Start Item Product -->
			<div class="card item-product">
				<img src="./assets/img/product/img07.jpg" alt="" />
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<h6 class="mb-0">
							Lutfi Wijanarko
							<small class="d-block mt-1">Tempoyak Udang</small>
						</h6>
					</li>
					<li class="list-group-item">
						<div class="row">
							<div class="col"><strong>Original Price</strong></div>
							<div class="col text-right">Rp 1,700,00</div>
						</div>
						<div class="row mt-2">
							<div class="col"><strong>Sale Price</strong></div>
							<div class="col text-right">Rp 2,200,00</div>
						</div>
					</li>
					<li class="list-group-item">
						<div class="row">
							<div class="col"><strong>Distributor</strong></div>
							<div class="col text-right">
								<a href="javascript:;">www.tokopedia.com</a>
							</div>
						</div>
					</li>
				</ul>
				<button class="btn btn-primary btn-block">Add to party</button>
			</div>
			<!-- End Item Product -->
		</div>
		<div class="col-sm-4 col-xl-3 mb-4">
			<!-- Start Item Product -->
			<div class="card item-product">
				<img src="./assets/img/product/img08.jpg" alt="" />
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<h6 class="mb-0">
							Lutfi Wijanarko
							<small class="d-block mt-1">Tempoyak Udang</small>
						</h6>
					</li>
					<li class="list-group-item">
						<div class="row">
							<div class="col"><strong>Original Price</strong></div>
							<div class="col text-right">Rp 1,700,00</div>
						</div>
						<div class="row mt-2">
							<div class="col"><strong>Sale Price</strong></div>
							<div class="col text-right">Rp 2,200,00</div>
						</div>
					</li>
					<li class="list-group-item">
						<div class="row">
							<div class="col"><strong>Distributor</strong></div>
							<div class="col text-right">
								<a href="javascript:;">www.tokopedia.com</a>
							</div>
						</div>
					</li>
				</ul>
				<button class="btn btn-primary btn-block">Add to party</button>
			</div>
			<!-- End Item Product -->
		</div>

	</div>
</div>
<!-- End Main Content -->