<!-- Start Wrap Header -->
<div class="wrap-header">
	<div class="row">
		<div class="col-sm-6 col-4">
			<ul class="nav">
				<li class="nav-item">
					<button class="btn-header border-right" (click)="onFullscreen()">
						<i-maximize class="icon"></i-maximize>
					</button>
				</li>
				<li class="nav-item d-none d-sm-block">
					<div class="media">
						<div class="wrap-search">
							<p-autoComplete 
								inputStyleClass="input-search"
								placeholder="Search country"
								[(ngModel)]="inputSearch" 
								[suggestions]="results" 
								(completeMethod)="search($event)">
							</p-autoComplete>
						</div>
						<div class="media-body">
							<button class="btn-header bg-gray border-right"><i-search class="icon"></i-search></button>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="col-sm-6 col-8 text-right">
			<ul class="nav justify-content-end">
				<li class="nav-item">
					<!-- Start Media -->
					<div class="media author" (click)="auth.toggle($event)">
						<img class="mr-3" [src]="photo" [alt]="name" style="object-fit: cover;">
						<div class="media-body">
							<h6 class="name">
								<small>Hi,</small> {{name}}
							</h6>
						</div>
					</div>
					<!-- End Media -->
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- End Wrap Header -->

<!-- Overlay Author -->
<p-overlayPanel #auth appendTo="body" styleClass="auth-panel">
	<ul class="auth-list">
		<li><a href="javascript:;"><i-settings class="icon"></i-settings> Settings</a></li>
		<li><a href="javascript:;"><i-user class="icon"></i-user> Profile</a></li>
		<li class="logout"><a (click)="logout()"><i-log-out class="icon"></i-log-out> Logout</a></li>
	</ul>
</p-overlayPanel>
<!-- End Author -->

