@import '../../../assets/scss/css3-mixins';
@import '../../../assets/scss/variable';

.btn-header-list{
    float: right;
    margin: -5px 0;
}

.td-avatar{
    width: 75px;
}

.img-avatar{
    width: 40px;
    border-radius: 50%;
    border: solid 1px #efefef;
    position: absolute;
    top: 10px;
    left: 25px;
    @extend .panel-shadow;
}

@media(max-width:767px){
    .img-avatar{
        position: relative;
        top: 0;
        left: 0;
    }
}