<!-- Start Nav -->
<nav hidden>
	<div class="nav-header">
		<a href="#" class="brand">
			<img src="../assets/img/brand.png"  alt=""/>
		</a>
		<button class="toggle-bar">
			<i-menu></i-menu>
		</button>	
	</div>	
	<ul class="menu">
		<li class="dropdown">
			<a href="javascript:;"><i-home class="icon"></i-home> Dashboard</a>
			<ul class="dropdown-menu">
				<li><a routerLink="/main/dashboard" routerLinkActive="active">Main</a></li>
				<li><a routerLink="/main/ecommerce-dahsboard" routerLinkActive="active">Ecommerce</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a href="javascript:;"><i-user class="icon"></i-user> User Management</a>
			<ul class="dropdown-menu">
				<li *ngIf="roleId != 'ROLE003'"><a routerLink="/main/member/anggota" routerLinkActive="active">Pendaftaran Anggota</a></li>
				<li *ngIf="roleId == 'ROLE003'"><a routerLink="/main/member/approval" routerLinkActive="active">Approval Member</a></li>
				<li><a routerLink="/main/member/list-member" routerLinkActive="active">List Member</a></li>
			</ul>
		</li>
		<li><a href="javascript:;"><i-dollar-sign class="icon"></i-dollar-sign> Loan Management</a></li>
		<li class="dropdown">
			<a href="javascript:;"><i-shopping-cart class="icon"></i-shopping-cart> Products Management</a>
			<ul class="dropdown-menu">
				<li><a routerLink="/main/product/sync" routerLinkActive="active">Sync Products</a></li>
				<li><a routerLink="/main/product/setting" routerLinkActive="active">Setting Products</a></li>
			</ul>
		</li>
		<li><a href="javascript:;"><i-message-square class="icon"></i-message-square> Content Management</a></li>
		<li><a href="javascript:;"><i-bell class="icon"></i-bell> Notifications</a></li>
		<li><a href="javascript:;"><i-settings class="icon"></i-settings> Settings</a></li>
		<li><a href="javascript:;"><i-pie-chart class="icon"></i-pie-chart> Reports</a></li>
		<li><a href="javascript:;"><i-grid class="icon"></i-grid> Master</a></li>
	</ul>							

	<ul class="attributes">
		<li><a href="#"><i-facebook class="icon"></i-facebook></a></li>
		<li><a href="#"><i-twitter class="icon"></i-twitter></a></li>
		<li><a href="#"><i-instagram class="icon"></i-instagram></a></li>
	</ul>
</nav>
<!-- End Nav -->