<!-- Start Nav -->
<nav hidden>
	<div class="nav-header">
		<a href="#" class="brand">
			<img src="../assets/img/brand.png"  alt=""/>
		</a>
		<button class="toggle-bar">
			<i-menu></i-menu>
		</button>	
	</div>	
	<ul class="menu">
		<li class="dropdown">
			<a href="javascript:;"><i-home class="icon"></i-home> Dashboard</a>
			<ul class="dropdown-menu">
				<li><a routerLink="/main/dashboard" routerLinkActive="active">Main</a></li>
				<li><a routerLink="/main/ecommerce-dahsboard" routerLinkActive="active">Ecommerce</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a href="javascript:;"><i-user class="icon"></i-user>Keanggotaan</a>
			<ul class="dropdown-menu">
				<li><a routerLink="/main/member/calon-anggota" routerLinkActive="active">Calon Anggota</a></li>
				<li><a routerLink="/main/member/anggota" routerLinkActive="active">Anggota</a></li>
				<li><a href="javascript:;">Pengajuan Perubahan Golongan dan Gaji</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a href="javascript:;"><i-dollar-sign class="icon"></i-dollar-sign>Pinjaman</a>
			<ul class="dropdown-menu">
				<li><a routerLink="/main/loan/microloan" routerLinkActive="active">Microloan</a></li>
				<li><a routerLink="/main/loan/jangka-panjang" routerLinkActive="active">Jangka Panjang</a></li>
			</ul>
		</li>
	</ul>							

	<!-- <ul class="attributes">
		<li><a href="#"><i-facebook class="icon"></i-facebook></a></li>
		<li><a href="#"><i-twitter class="icon"></i-twitter></a></li>
		<li><a href="#"><i-instagram class="icon"></i-instagram></a></li>
	</ul> -->
</nav>
<!-- End Nav -->