<!-- Start Sub Header -->
<div class="sub-header">
	<div class="media">
		<i-book class="icon"></i-book> 
		<div class="media-body">
			<h5 class="title">Loan</h5>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a routerLink="/main">Home</a></li>
				<li class="breadcrumb-item"><a routerLink="/main/loan/">Loan</a></li>
				<li class="breadcrumb-item active" aria-current="page">Loan</li>
			</ol>
		</div>
	</div>
</div>
<!-- End Sub Header -->
<!-- Start Main Content -->
<div class="main-content">

	<!-- Start Toggle Columns -->
	<ng-container *ngIf="!loading">
		<div class="row mb-4">
			<div class="col-sm-4 col-lg-3 text-left">
				<p-multiSelect 
					[showHeader]="false"
					[options]="columns" 
					[(ngModel)]="selectedColumns" 
					(onChange)="changeColumn($event)"
					optionLabel="header"
					selectedItemsLabel="{0} selected" 
					defaultLabel="Choose Columns">
				</p-multiSelect>
			</div>
			<!-- <div class="col-sm-4 col-lg-6"></div>
			<div class="col-sm-4 col-lg-3 text-right">
				<button type="button" class="btn btn-primary btn-icon" (click)="openDialogForm()">Tambah Anggota <i-plus class="icon"></i-plus></button>
			</div> -->
		</div>
		<div class="row">
			<div class="col-sm-4 col-lg-3 mb-3">
				<input type="text" class="form-control" placeholder="filter by nama">
			</div>
			<div class="col-sm-4 col-lg-3 mb-3">
				<p-dropdown [options]="companies" styleClass="form-control" [(ngModel)]="selectedCompany"></p-dropdown>
			</div>
			<div class="col-sm-4 col-lg-3 mb-3">
				<p-dropdown [options]="grades" styleClass="form-control" [(ngModel)]="selectedGrade"></p-dropdown>
			</div>
			<div class="col-sm-4 col-lg-3 mb-3">
				<p-dropdown [options]="arrStatus" styleClass="form-control" [(ngModel)]="selectedStatus"></p-dropdown>
			</div>
			<div class="col-sm-4 col-lg-3 mb-3">
				<input type="text" class="form-control" placeholder="filter by NIK">
			</div>
			<div class="col-sm-4 col-lg-3 mb-3">
				<p-calendar [(ngModel)]="date1" placeholder="filter by Tanggal pengjuan start"></p-calendar>
			</div>
			<div class="col-sm-4 col-lg-3 mb-3">
				<p-calendar [(ngModel)]="date2" placeholder="filter by Tanggal pengjuan To"></p-calendar>
			</div>
			<div class="col-sm-4 col-lg-3 mb-3">
				<p-dropdown [options]="loanTypes" styleClass="form-control" [(ngModel)]="selectedLoan"></p-dropdown>
			</div>
		</div>
		
	</ng-container>
	<!-- End Toggle Columns -->

	<div *ngIf="loading" class="wrap-loading">
		<p-progressSpinner [style]="{width: '30px', height: '30px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
	</div>

	<!-- Start Card -->
	<div *ngIf="!loading" class="card" id="tab-card">
		<div class="card-body p-0">
			<!-- Start Table -->
			<p-table 
				#dt 
				[columns]="selectedColumns" 
				[value]="data" 
				[paginator]="true" 
				[rows]="10" 
				[responsive]="true"
				[scrollable]="true"
				[style]="{width: widthTable + 'px'}">
				<!-- Start Header -->
				<ng-template pTemplate="header" let-columns>
					<tr>
						<th class="text-center" style="width:110px">
							Options
						</th>
						<ng-container *ngFor="let col of columns">
							<th *ngIf="col.field == 'number'" style="width:75px;">{{col.header}}</th>
							<th *ngIf="col.field != 'number'" style="width:200px">{{col.header}}</th>
						</ng-container>
					</tr>
				</ng-template>
				<!-- End Header -->
				<!-- Start Body -->
				<ng-template pTemplate="body" let-rowData let-columns="columns">
					<tr>
						<td class="text-center" style="width:110px">
							<button type="button" class="btn-circle btn-primary btn-sm" (click)="selectItem(rowData)">
								<i-settings class="icon"></i-settings>
							</button>
						</td>
						<ng-container *ngFor="let col of columns">
							<td *ngIf="col.field == 'number'" style="width:75px;">{{rowData[col.field]}}</td>
							<td *ngIf="col.field != 'number'" style="width:200px">{{rowData[col.field]}}</td>
						</ng-container>
					</tr>
				</ng-template>
				<!-- End Body -->
			</p-table>
			<!-- End Table -->
		</div>
	</div>
	<!-- End Card -->
</div>
<!-- End Main Content -->