<div class="content-error">
	<img src="./assets/img/icon/contruction.png" alt="" class="img-error"/>
	<h5 class="sub-title">ERROR 500</h5>
	<h2>Internal Server Error</h2>
	<p class="mb-5">
		Lorem ipsum dolor sit amet, ut cum dictas intellegat, nusquam torquatos ut mea. Unum munere suavitate ne usu, ad pri aeque oratio.
	</p>

	<button type="button" class="btn btn-primary btn-icon mr-1 mb-1" routerLink="/main/dashboard">Take me home <i-home class="icon"></i-home></button>
	<button type="button" class="btn btn-secondary btn-primary btn-icon mb-1" routerLink="/main/dashboard">Contact Us <i-phone class="icon"></i-phone></button>
</div>