<!-- Start Wrap Error -->
<div class="wrap-error">
	<div class="row">
		<!-- Start Main -->
		<div class="col-sm-6 col-lg-4 col-xl-3 main">
			<div class="content">
				<h2 class="title">A Smart Way To Engang</h2>
				<p>Paribasa urang sunda mun gering sok kasereud engang, nyeri eta teh wa.</p>
			</div>
		</div>
		<!-- End Main -->
		<!-- Start Side -->
		<div class="col-sm-6 col-lg-8 col-xl-9 side">

			<!-- Start Contetn -->
			<div class="content">
				<div class="row">
					<div class="col-sm-8 offset-sm-2 col-xl-6 offset-xl-3">
						
						<router-outlet></router-outlet>
						
					</div>
				</div>
			</div>
			<!-- End Contetn -->

			<!-- Start Footer -->
			<div class="side-footer">
				© Copyright <a href="https://danurstrap.com/" target="_blank">Danurstrap</a>.
			</div>
			<!-- End Footer -->
		</div>
		<!-- End Side -->
	</div>
</div>
<!-- End Wrap Error -->
	