<!-- Start Wrap Login -->
<div class="wrap-login">
	<div class="row">
		<!-- Start Main -->
		<div class="col-sm-6 col-xl-8 main">
			<div class="content">
				<h2 class="title">A Smart Way To Engang</h2>
				<p>Paribasa urang sunda mun gering sok kasereud engang, nyeri eta teh wa.</p>
			</div>
		</div>
		<!-- End Main -->
		<!-- Start Side -->
		<div class="col-sm-6 col-xl-4 side">
			<!-- Start Header -->
			<div class="side-header">
				<div class="row">
					<div class="col">
						<a href="#" class="brand">
							<img src="../assets/img/brand.png"  alt="" class="brand"/>
						</a>
					</div>
					<div class="col text-right">
						<a href="javascript:;">Need help ?</a>
					</div>
				</div>
			</div>
			<!-- Start Header -->

			<!-- Start Contetn -->
			<div class="content">
				<div class="row">
					<div class="col-sm-10 offset-sm-1 col-xl-8 offset-xl-2">
						<!-- Start Mav -->
						<!-- <ul class="nav justify-content-center">
							<li class="nav-item">
								<a class="nav-link" routerLink="/sign/signin" routerLinkActive="active">Sign In</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" routerLink="/sign/signup" routerLinkActive="active">Sign Up</a>
							</li>
						</ul> -->
						<!-- End Mav -->

						<h5>Login</h5>
						<hr class="mb-0"/>
						<div class="mt-5">
							<!-- Start Outlet -->
							<router-outlet></router-outlet>
						</div>
					</div>
				</div>
			</div>
			<!-- End Contetn -->

			<!-- Start Footer -->
			<div class="side-footer">
				Forgot your password ? <a href="javascript:;">Click here</a>
			</div>
			<!-- End Footer -->
		</div>
		<!-- End Side -->
	</div>
</div>
<!-- End Wrap Login -->
	