<!-- Start Sub Header -->
<div class="sub-header">
	<div class="media">
		<i-user class="icon"></i-user> 
		<div class="media-body">
			<h5 class="title">Calon Anggota</h5>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a routerLink="/main">Home</a></li>
				<li class="breadcrumb-item"><a routerLink="/main/member/">List Calon Anggota</a></li>
			</ol>
		</div>
	</div>
</div>
<!-- End Sub Header -->
<!-- Start Main Content -->
<div class="main-content">

	<!-- Start Toggle Columns -->
	<div class="row mb-4">
		<div class="col-sm-4 col-lg-3 text-left">
			<p-multiSelect 
				[showHeader]="false"
				[options]="columns" 
				[(ngModel)]="selectedColumns" 
				(onChange)="changeColumn($event)"
				optionLabel="header"
				selectedItemsLabel="{0} selected" 
				defaultLabel="Choose Columns">
			</p-multiSelect>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 col-lg-3 mb-3">
			<input type="text" class="form-control" (input)="onSearchName($event.target.value)" placeholder="filter by nama">
		</div>
		<div class="col-sm-4 col-lg-3 mb-3">
			<p-dropdown [options]="companies" styleClass="form-control" (onChange)="changeCompany($event)"></p-dropdown>
		</div>
		<div class="col-sm-4 col-lg-3 mb-3">
			<p-dropdown [options]="grades" styleClass="form-control" (onChange)="changeGrade($event)"></p-dropdown>
		</div>
		<div class="col-sm-4 col-lg-3 mb-3">
			<p-dropdown [options]="arrStatus" styleClass="form-control" (onChange)="changeStatus($event)"></p-dropdown>
		</div>
		<div class="col-sm-4 col-lg-3 mb-3">
			<input type="text" class="form-control" (input)="onSearchNik($event.target.value)" placeholder="filter by NIK">
		</div>
		<div class="col-sm-4 col-lg-3 mb-3">
			<p-calendar [(ngModel)]="date1" dateFormat="yy-mm-dd" selectionMode="range" (onSelect)="onSelectTglMasuk($event)" placeholder="filter by Tanggal pengajuan start"></p-calendar>
		</div>
		<div class="col-sm-4 col-lg-3 mb-3">
			<p-calendar [(ngModel)]="date2" dateFormat="yy-mm-dd" selectionMode="range" (onSelect)="onSelectTglPengajuan($event)" placeholder="filter by Tanggal pengjuan To"></p-calendar>
		</div>
	</div>
	<!-- End Toggle Columns -->
	
	<!-- Start Card -->
	<div class="card">
		<div class="card-body p-0">
			<!-- Start Table -->
			<p-table 
				[columns]="selectedColumns" 
				[value]="data" 
				[paginator]="false" 
				[rows]="10" 
				[responsive]="true"
				[lazy]="true" 
				(onLazyLoad)="fetchUser($event)" 
				[loading]="loading">
				<!-- Start Header -->
				<ng-template pTemplate="header" let-columns>
					<tr>
						<ng-container *ngFor="let col of columns">
							<th *ngIf="col.field == 'number'" style="width:75px;">{{col.header}}</th>
							<th *ngIf="col.field != 'number'">{{col.header}}</th>
						</ng-container>
						<th class="text-right">
							Options
						</th>
					</tr>
				</ng-template>
				<!-- End Header -->
				<ng-template pTemplate="body" let-rowData let-columns="columns">
					<tr>
						<td *ngFor="let col of columns">
							{{rowData[col.field]}}
						</td>
						<td class="text-right">
							<button type="button" class="btn-circle btn-primary btn-sm" (click)="selectItem(rowData)">
								<i-settings class="icon"></i-settings>
							</button>
						</td>
					</tr>
				</ng-template>
				<!-- End Body -->
			</p-table>
			<!-- End Table -->
			<p-paginator [rows]="pageLength" [totalRecords]="totalCount" pageLinkSize="3" (onPageChange)="paginate($event)"></p-paginator>
		</div>
	</div>
	<!-- End Card -->
</div>
<!-- End Main Content -->

<!-- Start Dialog Modal -->
<p-dialog *ngIf="selectedItem != null" [(visible)]="display" header="Approval Member" [modal]="true" [width]="1200">
	<div class="content">
		<div class="row">
			<div class="col-md-7">
				<img [src]="selectedItem.personal_photo" class="img-user" width="250" />
				<table class="table mt-4 border-bottom">
					<tr>
						<td class="label">Name</td>
						<td>{{selectedItem.name}}</td>
					</tr>
					<tr>
						<td class="label">NIK</td>
						<td>{{selectedItem.id_register_member_flow}}</td>
					</tr>
					<tr>
						<td class="label">No HP</td>
						<td>{{selectedItem.phone_number}}</td>
					</tr>
					<tr>
						<td class="label">Email</td>
						<td>{{selectedItem.email}}</td>
					</tr>
					<tr>
						<td class="label">No KTP</td>
						<td>4234123423323</td>
					</tr>
					<tr>
						<td class="label">Nama Perusahaan</td>
						<td>{{selectedItem.name_company}}</td>
					</tr>
					<tr>
						<td class="label">Tanggal Pengajuan</td>
						<td>{{selectedItem.requested_date}}</td>
					</tr>
				</table>

				<div *ngIf="selectedItem.show_input" class="mt-4 mb-2">
					<div class="mb-2">
						<label>Select Date</label>
						<p-calendar 
							dateFormat="dd-mm -yy"
							[(ngModel)]="date" 
							placeholder="Enter date">
						</p-calendar>
					</div>
					<div>
						<label>Select grade</label>
						<p-dropdown [options]="grades2" appendTo="body" styleClass="form-control" [(ngModel)]="selectedGrade" placeholder="Pilih Grade"></p-dropdown>
					</div>
				</div>
			</div>
			<div class="col-md-5">
				<div class="wrap-photo mb-3">
					<img [src]="selectedItem.personal_identity_path" class="w-100">
					<a href="javascript:;" class="link"></a>
				</div>
				<div class="wrap-photo mb-3">
					<img [src]="selectedItem.company_identity_path" class="w-100">
					<a href="javascript:;" class="link"></a>
				</div>
			</div>
		</div>
	</div>
	<p-footer *ngIf="selectedItem.show_input">
		<button [disabled]="isSubmitReject || isSubmitApprove" class="btn btn-danger mr-1" (click)="reject()">
			<span *ngIf="!isSubmitReject">Reject</span>
			<span *ngIf="isSubmitReject"><i class="fas fa-spin fa-spinner"></i></span>
		</button>
		<button [disabled]="isSubmitApprove || isSubmitReject || selectedGrade == null || date == null" class="btn btn-primary" (click)="approve()">
			<span *ngIf="!isSubmitApprove">Approve</span>
			<span *ngIf="isSubmitApprove"><i class="fas fa-spin fa-spinner"></i></span>
		</button>
	</p-footer>
</p-dialog>
<!-- End Dialog Modal -->

<p-toast></p-toast>