<!-- Start Sub Header -->
<div class="sub-header">
	<div class="media">
		<i-user class="icon"></i-user> 
		<div class="media-body">
			<h5 class="title">Approve by HR</h5>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a routerLink="/main">Home</a></li>
				<li class="breadcrumb-item"><a routerLink="/main/member/">Member</a></li>
				<li class="breadcrumb-item active" aria-current="page">Pendaftaran Anggota</li>
			</ol>
		</div>
	</div>
</div>
<!-- End Sub Header -->
<!-- Start Main Content -->
<div class="main-content">

	<!-- Start Toggle Columns -->
	<ng-container *ngIf="!loading">
		<div class="row mb-4">
			<div class="col-sm-4 col-lg-3 text-left">
				<p-multiSelect 
					[showHeader]="false"
					[options]="columns" 
					[(ngModel)]="selectedColumns" 
					(onChange)="changeColumn($event)"
					optionLabel="header"
					selectedItemsLabel="{0} selected" 
					defaultLabel="Choose Columns">
				</p-multiSelect>
			</div>
			<!-- <div class="col-sm-4 col-lg-6"></div>
			<div class="col-sm-4 col-lg-3 text-right">
				<button type="button" class="btn btn-primary btn-icon" (click)="openDialogForm()">Tambah Anggota <i-plus class="icon"></i-plus></button>
			</div> -->
		</div>
		<div class="row">
			<div class="col-sm-4 col-lg-3 mb-3">
				<input type="text" class="form-control" placeholder="filter by nama">
			</div>
			<div class="col-sm-4 col-lg-3 mb-3">
				<p-dropdown [options]="companies" styleClass="form-control" [(ngModel)]="selectedCompany"></p-dropdown>
			</div>
			<div class="col-sm-4 col-lg-3 mb-3">
				<p-dropdown [options]="grades" styleClass="form-control" [(ngModel)]="selectedGrade"></p-dropdown>
			</div>
			<div class="col-sm-4 col-lg-3 mb-3">
				<p-dropdown [options]="arrStatus" styleClass="form-control" [(ngModel)]="selectedStatus"></p-dropdown>
			</div>
			<div class="col-sm-4 col-lg-3 mb-3">
				<input type="text" class="form-control" placeholder="filter by NIK">
			</div>
			<div class="col-sm-4 col-lg-3 mb-3">
				<p-calendar [(ngModel)]="date1" placeholder="filter by Tanggal pengjuan start"></p-calendar>
			</div>
			<div class="col-sm-4 col-lg-3 mb-3">
				<p-calendar [(ngModel)]="date2" placeholder="filter by Tanggal pengjuan To"></p-calendar>
			</div>
		</div>
		
	</ng-container>
	<!-- End Toggle Columns -->

	<div *ngIf="loading" class="wrap-loading">
		<p-progressSpinner [style]="{width: '30px', height: '30px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
	</div>

	<!-- Start Card -->
	<div *ngIf="!loading" class="card">
		<div class="card-body p-0">
			<!-- Start Table -->
			<p-table #dt [columns]="selectedColumns" [value]="data" [paginator]="true" [rows]="10" [responsive]="true">
				<!-- Start Header -->
				<ng-template pTemplate="header" let-columns>
					<tr>
						<th *ngFor="let col of columns">
							{{col.header}}
						</th>
						<th class="text-right">
							Options
						</th>
					</tr>
				</ng-template>
				<!-- End Header -->
				<!-- Start Body -->
				<ng-template pTemplate="body" let-rowData let-columns="columns">
					<tr>
						<td *ngFor="let col of columns">
							{{rowData[col.field]}}
						</td>
						<td class="text-right">
							<button type="button" class="btn-circle btn-primary btn-sm" (click)="selectItem(rowData)">
								<i-settings class="icon"></i-settings>
							</button>
						</td>
					</tr>
				</ng-template>
				<!-- End Body -->
			</p-table>
			<!-- End Table -->
		</div>
	</div>
	<!-- End Card -->
</div>
<!-- End Main Content -->

<!-- Start Dialog Modal -->
<p-dialog [(visible)]="display" header="Approval Member" [modal]="true" [width]="1200">
	<div *ngIf="selectedItem != null" class="content">
		<div class="row">
			<div class="col-md-7">
				<img [src]="selectedItem.personal_photo" class="img-user" width="125" />
				<table class="table mt-4 border-bottom">
					<tr>
						<td class="label">Name</td>
						<td>{{selectedItem.name}}</td>
					</tr>
					<tr>
						<td class="label">NIK</td>
						<td>{{selectedItem.id_register_member_flow}}</td>
					</tr>
					<tr>
						<td class="label">No HP</td>
						<td>{{selectedItem.phone_number}}</td>
					</tr>
					<tr>
						<td class="label">Email</td>
						<td>{{selectedItem.email}}</td>
					</tr>
					<tr>
						<td class="label">No KTP</td>
						<td>4234123423323</td>
					</tr>
					<tr>
						<td class="label">Nama Perusahaan</td>
						<td>{{selectedItem.name_company}}</td>
					</tr>
					<tr>
						<td class="label">Tanggal Pengajuan</td>
						<td>{{selectedItem.approve_at}}</td>
					</tr>
					<tr>
						<td class="label">Golongan</td>
						<td>{{selectedItem.name_grade}}</td>
					</tr>
					<tr>
						<td class="label">Tanggal Masuk</td>
						<td>{{selectedItem.employee_starting_date}}</td>
					</tr>
				</table>
			</div>
			<div class="col-md-5">
				<div class="wrap-photo mb-3">
					<img [src]="selectedItem.personal_identity_path" class="w-100">
					<a href="javascript:;" class="link"></a>
				</div>
				<div class="wrap-photo mb-3">
					<img [src]="selectedItem.company_identity_path" class="w-100">
					<a href="javascript:;" class="link"></a>
				</div>
			</div>
		</div>
	</div>
	<p-footer>
		<button [disabled]="isSubmitReject || isSubmitApprove" class="btn btn-danger mr-1" (click)="reject()">
			<span *ngIf="!isSubmitReject">Reject</span>
			<span *ngIf="isSubmitReject"><i class="fas fa-spin fa-spinner"></i></span>
		</button>
		<button [disabled]="isSubmitApprove || isSubmitReject" class="btn btn-primary" (click)="approve()">
			<span *ngIf="!isSubmitApprove">Approve</span>
			<span *ngIf="isSubmitApprove"><i class="fas fa-spin fa-spinner"></i></span>
		</button>
	</p-footer>
</p-dialog>
<!-- End Dialog Modal -->

<p-toast></p-toast>