@import '../../../../assets/scss/css3-mixins';
@import '../../../../assets/scss/variable';

.th-option{
    width: 100px;
    text-align: center;
}

.img-user{
    padding: 10px;
    border: solid 1px #efefef;
    display: block;
    width: 200px;
    height: 200px;
    object-fit: cover;
    @extend .panel-shadow;
    @include border-radius(4px);
}

.th-avatar{
    width: 75px;
}

.img-avatar{
    width: 40px;
    border-radius: 50%;
    border: solid 1px #efefef;
    position: absolute;
    top: 10px;
    left: 25px;
    @extend .panel-shadow;
}

.label{
    width: 200px;
    color: $color-title;
    font-weight: 500;
}

.btn-close{
    float: right;
    position: relative;
    top: -10px;
}

.wrap-photo{
    border: solid 1px #efefef;
    padding: 10px;
    display: block;
    background: #fff;
    @extend .panel-shadow;
    @include border-radius(4px);

    img{
        width: 100%;
        object-fit: cover;
        max-height: 320px;
    }
}


.dialog-content{
    
    .row{
        margin: 0;

        > div{
            padding: 30px;

            &:first-child{
                background-color: #cfcfcf;
            }
        }
    }
}

@media(max-width:767px){
    .img-avatar{
        position: relative;
        top: 0;
        left: 0;
    }
}